/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 290px;
	margin-left: -100%;
	position: relative;
	.icon__sidebar{
		display: inline-block;
		@include sprite-gen($common-sprite,sprite,nav-left-hover);
		transition: all .2s ease;
		position: absolute;
		top:9px;
		left:5px;
		opacity: 0;
		z-index: 0;
	}
	&__inside{
		padding-left:30px;
	}
	&__nav-list{
		background-color: #fff;
		padding:5px 0;
		&__item{
			position: relative;
			border-top:1px solid #f4f5f7;
			&:first-child{
				border-top:0;
			}
			&.active{
				.icon__sidebar{
					display: inline-block !important;
					@include sprite-gen($common-sprite,sprite,nav-left-active);
					opacity: 1;
				}
				.left-sidebar__nav-list__link{
					color:#ff5146 !important;
				}
			}
			&:hover{
				.icon__sidebar{
					opacity: 1;
				}	
			}
		}
		&__link{
			display: block;
			padding: 6px 10px 6px 30px;
			font: 21px $bebas-regular;
			color:#566177;
			transition: color .2s ease;
			text-transform: uppercase;
			text-decoration: none;
			position: relative;
			z-index: 1;
			&:hover{
				color:#ff5146;
			}
		}
	}
}