/*Chocolate styles
------------------------------------------------------------------------------*/
#Choco_overlay{
	background-color: #242525 !important;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	display:none;
	padding:0;
	margin:0;
}
#Choco_content{
	display:none;
	width:800px;
	height:600px;
	z-index:1001;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-400px;
	margin-top:-300px;
	border-top:1px solid transparent;/*Yes, adjust image perfectly at the center of a box, don't know why.*/
}
#Choco_left_arrow{
	float:left;
	@include sprite-gen($common-sprite,sprite,zoom-left);
	left:-33px;
}
#Choco_right_arrow{
	float:right;
	@include sprite-gen($common-sprite,sprite,zoom-right);
	right:-33px;
}
.Choco_arrows{
	display:none;
	position:absolute;
	cursor:pointer;
	top:50%;
	margin-top:-18px;
	opacity: 0.75;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 75);
	transition: all 0.25s ease;
	&:hover{
		opacity: 1;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 100);
	}
}
#Choco_container_photo{
	text-align:center;
	width:800px;
	height:600px;
	img{
		-webkit-box-shadow: 0px 0px 30px 5px #1D1D1D;
		-moz-box-shadow: 0px 0px 30px 5px #1D1D1D;
		box-shadow: 0px 0px 30px 5px #1D1D1D;
	}
}
#Choco_container_description{
	display:none !important;
}
#Choco_container_title{
	float:left;
	padding:5px;
}
#Choco_container_via{
	padding:5px;
	float:right;
}
#Choco_container_via a{
	color:gray;
}
#Choco_container_via a:hover{
	color:white;
	background:gray;
}
#Choco_close{
	@include sprite-gen($common-sprite,sprite,close-hover-icon);
	z-index:1002;
	cursor:pointer;
	position: absolute;
	right: -50px;
	top: -5px;
	display:none;
	transition: all 0.25s ease;
	opacity: 0.75;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 75);
	&:hover{
		opacity: 1;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 100);
	}
}
#Choco_loading{
	width:9px;
	height:11px;
	background-image:url(../img/ajax-loader.gif);
	background-repeat:no-repeat;
	z-index:1002;
	cursor:pointer;
	float:right;
	margin-top:-20px;
	display:none !important;
}
#Choco_bigImage{
	display:none;
	position:relative;
	width:100%;
	height:100%;
	margin-top:-5px;
}