b, strong{
	font-family: $arimo-bold;
}
h1,h2,h3{
	text-transform: uppercase;
	line-height: 1;
}
h1{
	font: 60px $bebas-bold;
}
.page-body__content{	
	h2{
		font:24px $bebas-bold;
		color:#3c3c3c;
	}
	h3{
		font:24px $bebas-regular;
	}
	h2 + p, h2 + ul, h2 + table, h2 + ol{
		margin-top: 10px;
	}
	p{
		font:16px $arimo-regular;
		line-height: 1.3;
	}
	p + p{
		margin-top: 20px;
	}
	ul{
		li{
			position: relative;
			padding-left: 23px;
			font:16px $arimo-regular;
			line-height: 1.5;
			margin-top:5px;
			&:first-child{
				margin-top: 0;
			}
			&:before{
				content:'';
				position: absolute;
				display: inline-block;
				top:2px;
				left:0;
				@include sprite-gen($common-sprite,sprite,nav-left-active);
			}
		}
	}	
	ol{
		counter-reset: list;
		li{
			list-style-type: none;
			font:16px $arimo-regular;
			&:before {
				counter-increment: list;
				content: counter(list) ". ";
				font: 16px $arimo-bold;
				display: inline-block;
				color:#000000;
				margin-right: 3px;
			}	
		}
	}
	table{
		width: 100%;
		ul{
			li{
				font: inherit;
				padding:0;
				list-style: disc inside;
				&:before{
					display: none;
				}
			}
		}
		td, th{
			text-align: left;
			vertical-align: top;

			&.tc--no-border{
				border-top:0;
			}
			&.tc--center{
				text-align: center !important;
				vertical-align: middle;
			}
		}
		th{
			font: 12px $arimo-bold;
			color:#ffffff;
			background: #525b65;
			padding: 7px 5px;
		}
		td{
			font: 12px $arimo-regular;
			color:#000000;
			border-top: 1px solid #f4f5f7;
			line-height: 1.5;
			padding: 12px 5px;
			background-color: #fff;
		}
		tr{
			&:first-child{
				td{
					border-top:0;
				}
			}
		}
	}
	a{
		transition: color .2s ease;
		color:#3c6392;
		text-decoration: none;
		&:hover{
			color:#ff5146;
		}
	}
}

