/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -180px auto 0;
	height: 180px;
	background: #fff;
	position: relative;
	&__nav{
		background-color: #ff5146;
		text-align: center;
		padding: 13px 0;
		&__list-item{
			display: inline-block;
			margin:0px 10px;
		}
		&__link{
			display: inline-block;
			text-transform: uppercase;
			color:#fff;
			font: 20px $bebas-regular;
			text-decoration: none;
			position: relative;
			transition: color 0.3s ease;
			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 0;
				height: 2px;
				bottom:0;
				transition-property: left, width, background-color;
				transition-duration: .25s;
				left:50%;
				background-color:#fff;
			}
			&:hover{
				color:#ffc9c6;
				&:after{
					width: 100%;
					left:0;
					background-color:#ffc9c6;
				}
			}
		}
	}
	&__middle{
		padding: 21px 30px 15px 30px;
	}
	&__logo{
		padding-left:50px;
		position: relative;
		width: 260px;
		line-height: 0.9;
		float:left;
		.icon__footer-logo{
			position: absolute;
			left:0;
			display: inline-block;
			bottom:0;
			@include sprite-gen($common-sprite,sprite,footer-logo);
		}
		&__text{
			font: 12px $arimo-italic;
			color:#768191;
			line-height: 1.15;
		}
	}
	&__block-desc{
		font: 11px $arimo-regular;
		color:#9eaaba;
		line-height: 0.95;
	}
	&__phone-block{
		text-align: right;
		width:180px;
		float:left;
		margin-left: 35px;
		&__number{
			font: 36px $bebas-bold;
			display: inline-block;
			line-height: 1;
		}		
	}
	&__mail-link{
		transition: color .2s linear;
		font: 14px $arimo-regular;
		color:#2579bf;
		display: inline-block;
		text-decoration: none;
		&:hover{
			color:#00aeef;
		}
	}
	&__address-block{
		width: 140px;
		float:left;
		margin-left: 35px;
		line-height: 1;
		&__post{
			font: 11px $arimo-regular;
			color:#323232;
		}
	}
	&__dev{
		float:right;
		text-align: right;
		&__link{
			display: block;
			@include sprite-gen($common-sprite,sprite,copy-icon);
		}
	}
	&__bottom{
		border-top:1px solid #eaeaea;
		text-align: center;
	}
	&__copyrights{
		font: 11px $arimo-regular;
		line-height: 30px;
	}
}