/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 90px;
	background: #ff5146;
	padding-top:8px;
	position: relative;
	&__search{
		::-webkit-input-placeholder {
		   color: #8697ab;
		}
		:-moz-placeholder { 
		   color: #8697ab;  
		}
		::-moz-placeholder {  
		   color: #8697ab;  
		}
		:-ms-input-placeholder {  
		   color: #8697ab;  
		}
		&__form{
			margin:0 auto;
			width: 505px;
			padding:15px 0;
			display: none;
		}
		&__input{
			background-color:transparent;
			border: 1px solid #ced5de;
			color:#3e3e3e;
			box-sizing:border-box;
			height:32px;
			padding:0px 10px;
			font: 15px $arimo-italic;
			width:398px;
			transition: background 0.25s ease;
			&:focus{
				background-color:#fff;
			} 
		}
		&__submit{
			box-sizing:border-box;
			font: 18px $bebas-regular;
			text-transform: uppercase;
			color:#fff;
			height: 32px;
			width:100px;
			background-color: #ff5146;
			border-bottom:1px solid #c0271d;
			transition: background 0.25s ease;
			&:hover{
				background-color: #da2c20;
			}
			&:active{
				background-color: #c0271d;
			}
		}
	}
	&__overlay{
		background-color:#f3f3f4;
		position: absolute;
		left:0;
		right:0;
		top:90px;
		box-shadow: 0px 5px 20px 0px #b2bbc5;
		opacity: 0.95;
		z-index: 2;
		//border-bottom:1px solid #ccd3dc;
		display: none;
		&__close{
			@include sprite-gen($common-sprite,sprite,close-static-icon);
			display: block;
			position: absolute;
			right:55px;
			top:10px;
			&:hover{
				@include sprite-gen($common-sprite,sprite,close-hover-icon);
			}
		}
	}
	.g-mw{
		z-index: 3;
		position: relative;
	}
	&__whiteline{
		background: #fff;
		position: absolute;
		z-index: -1;
		width: 400%;
		height: 90px;
		top:-8px;
		left:-400%;
		margin-left:130px;
		&:after{
			content: '';
			position: absolute;
			right: -20px;
			width: 10px;
			height: 0;
			border-top: 90px solid #fff;
			border-right: 20px solid transparent;
		}
	}
	&__logo{
		@include sprite-gen($common-sprite,sprite,header-logo);
		display: block;
		float:left;
		margin-left: 10px;
	}
	&__phone{
		position: relative;
		padding-left: 42px;
		margin-top: 7px;
		width: 222px;
		float:left;
		text-align: right;
		.icon__phone{
			@include sprite-gen($common-sprite,sprite,phone-icon);
			display: inline-block;
			position: absolute;
			left:0;
			bottom:3px;
		}
		&__free{
			color:#8d2424;
			font: 11px $arimo-regular;
		}
		&__number{
			font: 36px $bebas-bold;
			display: inline-block;
			color:#fff;
			line-height: 1;
		}
	}
	&__nav-list{
		float:left;
		margin:25px 35px 0px 60px;
		&__item{
			display: inline-block;
			padding:0 10px;
			position: relative;
			vertical-align: top;
			&.active{
				.header__nav-list__link{
					color:#fff !important;
					&:after{
						width: 100%;
						left:0;
						background-color:#fff !important;	
					}
				}
			}
		}
		&__link{
			display: inline-block;
			text-transform: uppercase;
			color:#fff;
			font: 21px $bebas-regular;
			text-decoration: none;
			position: relative;
			transition: color 0.3s ease;
			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 0;
				height: 2px;
				bottom:0;
				transition-property: left, width, background-color;
				transition-duration: .25s;
				left:50%;
				background-color:#fff;
			}
			&:hover{
				color:#ffc9c6;
				&:after{
					width: 100%;
					left:0;
					background-color:#ffc9c6;
				}
			}
			&.active{
				&:after{
					width: 100%;
					left:0;	
				}
			}
		}
	}
	&__subnav-list{
		position: absolute;
		top:65px;
		display: none;
		&__item{
			margin-top: 10px;
		}
		&__link{
			text-transform: uppercase;
			color:#81899c;
			transition: color 0.2s ease;
			font: 20px $bebas-regular;
			text-decoration: none;
			white-space: nowrap;
			&:hover{
				color:#ff5146;
			}
		}
	}
	&__trigger{
		position: absolute;
		display: block;
		text-decoration: none;
		&__text{
			color:transparent;
			font: 13px $bebas-regular;
			white-space:nowrap;
			position: absolute;
			transition: color 0.2s ease;
		}
		&--search{
			right: 85px;
			top: 27px;
			display: block;
			.icon__search{
				@include sprite-gen($common-sprite,sprite,search-static-icon);
				transition: all 0.2s ease;
				display: block;
			}
			.header__trigger__text{
				left: -21px;
				top: 26px;
			}
			&:hover{
				.icon__search{
					transform: scale(1.25);
				}	
			}
		}
		&--sitemap{
			top: 30px;
			right: 40px;
			transition: all 0.2s ease;
			.header__trigger__text{
				left: -15px;
				top: 23px;
				transition: all 0.2s ease;
			}
			.icon__sitemap{
				position: relative;
				width:18px;
				height: 12px;
				display: block;
				margin:0 auto;
				transition: all 0.2s ease;
				&__line{
					position: absolute;
					display: inline-block;
					background: #fff;
					height: 2px;
					width: 100%;
					left:0;
					right:0;
					&--first{
						top:0;
					}
					&--second{
						top:50%;
						margin-top:-1px;
					}
					&--third{
						bottom:0;
					}
				}
			}
			&:hover{
				top:28px;
				right:38px;
				.icon__sitemap{
					width:22px;
					height: 16px;
				}
				.header__trigger__text{
					left: -13px;
					top: 25px;
				}	
			}			
		}
		&:hover{
			.header__trigger__text{
				color:#fff;
			}
		}
	}
}