.ie{
	.mp-cat__link__hover{
		@include sprite-gen($mp-cat-sprite, mp_cat, mp-cat-hover);
	}
}
.ie9{

}
.ie8{
	.header__trigger--search:hover{
		right: 97px;
		top: 24px;
		.icon__search{
			@include sprite-gen($common-sprite,sprite,search-hover-icon);
		}
		.header__trigger__text{
			left: -18px;
			top: 29px;
		}
	}
	.header__overlay{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	}
	.left-sidebar .icon__sidebar{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	.left-sidebar__nav-list__item.active .icon__sidebar{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
	}
	.left-sidebar__nav-list__item:hover .icon__sidebar{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	.icon__download-hover{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	.downloads__link:hover .icon__download-hover{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	.img-block__overlay__inside{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	}
	.news-list__image__overlay{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	}
	.mp-cat__link{
		@for $i from 1 through 10{
			.icon__mp-cat-#{$i}{
				display: inline-block !important;
				&__hover{
					display: none !important;
				}
			}	
		}
		&:hover{
			@for $i from 1 through 10{
				.icon__mp-cat-#{$i}{
					display: none !important;
					&__hover{
						display: inline-block !important;
					}
				}	
			}
		}
	}
	
}