$bebas-regular: 'bebas_neue_regularregular';
$bebas-bold: 'bebas_neuebold';
$bebas-light: 'bebas_neuelight';
$arimo-regular: 'arimoregular';
$arimo-italic: 'arimoitalic';
$arimo-bold: 'arimobold';
$arimo-bolditalic: 'arimobold_italic';
@mixin sprite-gen($sprite-map,$sprite-name,$file-name){
	background: sprite($sprite-map, $file-name) no-repeat;
	height: image-height($sprite-name+'/'+$file-name +'.png') + 1px;
	width: image-width($sprite-name+'/'+$file-name +'.png')+ 1px;
}