@charset "UTF-8";

// Default Variables

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: 6px !default;
$opacity-default: .75;
$opacity-on-hover: 1;
$opacity-not-active: .25;


@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url, false, false);
  }
  @else  {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }
  @else  {
    @return url($slick-font-path + $url);
  }
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    .slick-loading & {
        background: #fff url("../img/ajax-loader.gif") center center no-repeat;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 44px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    padding: 0;
    border: none;
    outline: none;
    &:hover {
      outline: none;
      color: transparent;
      &:before {
        opacity: $opacity-on-hover;
      }
    }
    &.slick-disabled:before {
        opacity: $opacity-not-active;
    }
}
.slick-prev:before, .slick-next:before {
    opacity: $opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}
.item-card__slider-bottom{
    .slick-prev, .slick-next{
        top: 50%;
        margin-top: -22px;
        &:before{
            width:15px;
            height: 15px;
            top:50%;
            margin-top: -15px/2;
        }
    }
    .slick-prev{
        &:hover{
            &:before{
                @include sprite-gen($common-sprite,sprite,arrow-left-hover);
            }
        }
        &:before{
            @include sprite-gen($common-sprite,sprite,arrow-left);
        }
    }    
    .slick-next{
        &:hover{
            &:before{
                @include sprite-gen($common-sprite,sprite,arrow-right-hover);
            }
        }
        &:before{
            @include sprite-gen($common-sprite,sprite,arrow-right);
        }
    }
    .slick-prev {
        left: -22px;
        [dir="rtl"] & {
            left:  auto;
            right: -22px;
        }
        &:before {
            content: $slick-prev-character;
            [dir="rtl"] & {
                content: $slick-next-character;
            }
        }
    }
    .slick-next {
        right: -22px;
        [dir="rtl"] & {
            left:  -22px;
            right: auto;
        }
        &:before {
            content: $slick-next-character;
            [dir="rtl"] & {
                content: $slick-prev-character;
            }
        }
    }    
}

.cat-slider{
    .slick-prev, .slick-next{
        right:24px !important;
        background: #fff;
        height: 40px;
        width:42px;
        &:before{
            content:'';
            width:35px;
            height: 19px;
            top:50%;
            margin-top: -19px/2;
            left:50%;
            margin-left:-35px/2;
        }
    }
    .slick-prev{
        bottom:41px;
        &:hover{

        }
        &:before{
            @include sprite-gen($common-sprite,sprite,arrow-bottom);
        }
    }    
    .slick-next{
        bottom:103px;
        &:hover{

        }
        &:before{
            @include sprite-gen($common-sprite,sprite,arrow-top);
        }
    }    
}
/* Dots */

.slick-slider {
    
}
.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                  opacity: $opacity-on-hover;
                }
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

        }

        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $opacity-default;
        }
    }
}
