@import url('../fonts/arimo.css');
@import url('../fonts/bebasneue.css');
@import "include/mixins";
@import "include/sprites";
@import "include/reset";
@import "include/content";


.g-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.g-mw{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	&--offset{
		padding:0 30px;
	}
}
.g-clear{
	&:before,&:after{
		content:'';
		display: table;
		width:100%;
	}
	&:after{
		clear:both;
	}
}
.g-hidden{
	display: none;
}
@import 'include/header';

/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 240px;
}
.content--2col{
	padding: 0 30px 0 310px;
}
.content--img-list{
	padding: 0 0 0 310px;
	.page-body__top,.page-body__seo{
		margin-right:30px;
	}
}
.content--1col{
	padding: 15px 0 240px;
}
.container {
	width: 100%;
	float: left;
	
}
.middle {
	width: 100%;
	padding: 15px 0 240px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.mp-cat{
	background:#bdc7d3 url('../img/mp-cat-bg.jpg') center center no-repeat;
	padding: 20px 0;
	&__we-greatest{
		position: relative;
		&__text{
			font:60px $bebas-bold;
			color:#ff5146;
			text-transform: uppercase;
			position: absolute;
			top:10px;
			left:5px;
		}
	}
	&__we-awesome{
		text-transform: uppercase;
		color:#ff5146;
		padding: 15px 0px 0px 5px;
		&__bold{
			font-family: $bebas-bold;
		}
		&__top{
			font:60px $bebas-regular;
			line-height: 1;
		}
		&__bottom{
			font:45px $bebas-regular;
			line-height: 1;
		}
	}
	&__over1000{
		padding: 15px 0px 0px 25px;
		color:#ff5146;
		&__small{
			font:26px $bebas-regular;
			display: block;
			line-height: 0.8;
		}
		&__large{
			font:90px $bebas-bold;
			display: inline-block;
			line-height: 0.9;
			margin: 2px 0px -7px -8px;
		}
	}
	&__col{
		&1-4,&2-4,&3-4{
			float: left;
			position: relative;
			height: 150px;
		}
		&1-4{
			width: 25%;
		}
		&2-4{
			width: 50%;
		}
		&3-4{
			width: 75%;
		}
	}
	&__link{
		text-decoration: none;
		background: #eff2f6; /* Old browsers */
		background: -moz-linear-gradient(left,  #eff2f6 0%, #fbfbfc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eff2f6), color-stop(100%,#fbfbfc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #eff2f6 0%,#fbfbfc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #eff2f6 0%,#fbfbfc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #eff2f6 0%,#fbfbfc 100%); /* IE10+ */
		background: linear-gradient(to right,  #eff2f6 0%,#fbfbfc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff2f6', endColorstr='#fbfbfc',GradientType=1 ); /* IE6-9 */	
		display: block;
		height: 100%;
		padding: 95px 0px 0px 17px;
		position: relative;
		&__hover{
			background: #e73a5a; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #e73a5a 0%, #fe736c 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e73a5a), color-stop(100%,#fe736c)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(45deg,  #e73a5a 0%,#fe736c 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(45deg,  #e73a5a 0%,#fe736c 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(45deg,  #e73a5a 0%,#fe736c 100%); /* IE10+ */
			background: linear-gradient(45deg,  #e73a5a 0%,#fe736c 100%); /* W3C */	
			display: block;
			z-index:0;
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			transition: opacity .2s linear;
			opacity: 0;		
		}
		&__text{
			font: 21px $bebas-bold;
			color:#44485e;
			position: relative;
			z-index: 1;
			transition: color .2s linear;
			line-height: 1.1;
			&:after{
				content:'';
				@include sprite-gen($common-sprite, sprite, mp-cat-arrow);
				transition: color .2s linear;
				line-height: 0;
				display: inline-block;
				margin-left: 5px;
				vertical-align: middle;
				margin-top: 1px;
			}
		}
		&:hover{
			.mp-cat__link{
				&__hover{
					opacity:1;
				}
				&__text{
					color:#fff;
				}
					
			}
			@for $i from 1 through 10{
				.icon__mp-cat-#{$i}{
					opacity: 0;
					&__hover{
						opacity:1;
					}
				}	
			}
		}
	}
	.icon{
		@for $i from 1 through 10{
			&__mp-cat-#{$i} {
				@include sprite-gen($mp-cat-sprite, mp_cat, mp-cat-#{$i});
				display: inline-block;
				position: absolute;
				left:20px;
				top:10px;
				z-index: 1;
				transition: opacity .2s linear;
				&__hover{
					@include sprite-gen($mp-cat-sprite, mp_cat, mp-cat-hover-#{$i});
					position: absolute;
					top:10px;
					left:20px;
					z-index: 1;
					transition: opacity .2s linear;
					opacity: 0;
				}
			}
	
		}
		
	}
}
.mp-cat-pref{
	width:640px;
	float:left;
	padding-right: 25px;
	&__title{
		font: 70px $bebas-bold;
		text-transform: uppercase;
		color:#2a415d;
		margin-top: 20px;
	}
	&__body{
		padding-left: 20px;
	}
	.icon__pref{
		display: block;
		position: absolute;
		left:0;
		top:-10px;
		@for $i from 1 through 8{
			&--#{$i}{
				@include sprite-gen($mp-pref-sprite, mp_pref, pref-#{$i});
			}	
		}	
	}
	&__item{
		position: relative;
		padding-left: 50px;
		margin-top: 20px;
		&__title{
			color:#3c3c3c;
			font: 24px $bebas-bold;
			text-transform: uppercase;
			line-height: 1.15;
		}
		&__desc{
			color:#000;
			font: 16px $arimo-regular;
			line-height: 1.5;
			margin-top:3px;
		}
	}
}
.mp-right-col{
	width:300px;
	float:left;
	position: relative;
}
.mp-why-us{
	text-align:center;
	top: 20px;
	left:0;
	position: absolute;
	width: 100%;
	&__top{
		color:#fff;
		background-color: #2a415d;
		font:60px $bebas-bold;
		height: 90px;
		line-height: 90px;
	}
	&__block{
		color:#2a415d;
		font:44px $bebas-bold;
		position: relative;
		&:after{
			content: '';
			display: block;
			bottom:-20px;
    		border-left: 150px solid transparent;
    		border-right: 150px solid transparent;
    		position: absolute;
    		z-index: 1;
		}
		&--1{
			background-color: #dde2e7;
			height: 80px;
			line-height: 90px;
			&:after{
				border-top: 20px solid #dde2e7;
			}	
		}
		&--2,&--3{
			height: 110px;
			line-height: 140px;
		} 
		&--2{
			background-color: #eef0f3;
			&:after{
				border-top: 20px solid #eef0f3;
			}
		}
		&--3{
			background-color: #f6f7f9;
			&:after{
				border-top: 20px solid #f6f7f9;
			}
		}
	}
}
.mp-short-i{
	position: relative;
	padding: 20px 5px 20px 45px;
	border: 4px solid #ffe7e7;
	margin-top: 490px;
	.icon__info{
		@include sprite-gen($common-sprite,sprite,info-icon);
		display: block;
		position: absolute;
		top: 20px;
		left: 13px;
	}
	&__title{
		font: 24px $bebas-bold;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&__bold-it{
		font-family: $arimo-bolditalic;
	}
	&__text{
		font: 15px $arimo-regular;
		&+&{
			margin-top: 15px;
		}
		&--italic{
			font-family: $arimo-italic;
		}
	}
}
.js-history{
	display: none;
}
.breadcrumbs{
	margin-left: -10px;
	min-height:20px;
	a,span{
		font:12px $arimo-regular;
		color:#91a0ae;
		text-decoration: none;
		padding: 2px 10px;
	}
	a{
		background-color:transparent;
		transition: background-color .2s ease;
		border-radius:10px;
		display: inline-block;
		white-space: nowrap;
		vertical-align: middle;
		&:hover{
			background-color: #dde2e7;
		}
	}
	&__list{
		display: none;
		&__item{
			display: inline-block;
			vertical-align: middle;
			&:first-child{
				&:before{
					display: none;
				}
			}
			&:before{
				content:'/';
				display: inline-block;
				color:#91a0ae;
				font:12px $arimo-regular;
				margin:0 5px;
			}
			&.js-dotted{
				a{
					text-overflow:ellipsis;
					overflow: hidden;
					width: 20px;
					padding: 0 2px;
					text-align: center;
					position: relative;
					color:transparent;
					&:before{
						content:'...';
						position: absolute;
						left:0;
						right: 0;
						top:0;
						bottom:0;
						background-color: transparent;
						transition: background-color .2s ease;
						font:12px $arimo-regular;
						color:#91a0ae;
					}
					&:hover{
						&:before{
							background-color: #dde2e7;
						}
					}
				}
			}
		}
		&__link{
			
		}
	}
}

.page-body{
	&__seo{
		margin-top: 20px;
		padding-top: 15px;
		border-top:1px solid #dde2e7;
		p + p{
			margin-top: 20px !important;
		}
	}
	&__top{
		position: relative;
		color:#2a415d;
		padding:10px 0 10px 50px;
		border-bottom:2px solid #dde2e7;
		margin-bottom: 20px;
	}
	&__icon-title{
		line-height: 1;
		&:before{
			content: '';
			height: 40px;
			width: 40px;
			display: inline-block;
			position: absolute;
			top:16px;
			left:0;
		}
		@for $i from 1 through 14{
			&--icon#{$i}{
				&:before{
					background: sprite($header-icons-sprite, header-icon-#{$i}) no-repeat;
				}
			}	
		}
		&--news-back{
			text-decoration: none;
			font: 24px $bebas-bold;
			text-transform: uppercase;
			color: #ff5146;
			padding-top: 12px;
			padding-bottom: 5px;
			transition: color .2s ease;
			display: inline-block;
			&:hover{
				color:#3c6392;
			}
		}
	}
	&__subtitle{
		font: 18px $arimo-bold;
	}
}

.item-card{
	p + p{
		margin-top: 10px !important;
	}
	&__photos{
		width:300px;
		float: left;
		margin-right: 20px;
		margin-bottom: 5px;
	}
	&__slider-bottom{
		width: 262px;
		margin: 0 auto;
		img{
			//height: 100%;
			//width: 100%;
		}
		&__slide{
			margin:0px 3px;
			&:hover{
				cursor: pointer;
			}
		}
	}
	&__slider-top{
		margin-bottom: 15px;
		img{
			width: 300px;
			height: 225px;
		}
	}
	&__spheres{
		border:3px solid #b6bfcb;
		padding: 15px 20px 15px 15px;
		margin: 35px 0;
		li{
			float: left;
			width: 50%;
		} 
	}
	&__downloads{
		margin-top:45px;
	}
}
.downloads{
	&--fullpage{
		padding-left: 15px;
	}
	li{
		margin-top: 0 !important;
	}
	li:before{
		display: none !important;
	}
	&__item{
		position: relative;
		width: 50%;
		float:left;
		padding:0px 45px 0px 33px !important;
		margin-bottom:15px;
	}
	&__link{
		&:hover{
			.downloads__size{
				background-color: #ff5146;
				color: #fff;
			}
			.icon__download-hover{
				opacity:1;
			}
		}
	}
	&__title{
		display: block;
		line-height: 1.5;
		font: 16px $arimo-regular;
	}
	&__size{
		color:#525b65;
		font: 12px $arimo-regular;
		background-color: #eceef1;
		border-radius: 15px;
		display: inline-block;
		padding: 2px 5px;
		transition: all .2s ease;
	}
	.icon__download,.icon__download-hover{
		height: 30px;
		width:24px;
		display: inline-block;
		position: absolute;
		left:0;
		top:0;
	}
	.icon__download{
		background: sprite($common-sprite, pdf) no-repeat;
		top:4px;
	}
	.icon__download-hover{
		background: sprite($common-sprite, pdf-hover) no-repeat;
		opacity: 0;
		transition: opacity .2s ease;
	}
}
.downloads-nav{
	margin-top:45px;
	&__col{
		width: 25%;
		padding-left:20px;
		float:left;
		&:first-child{
			padding-left: 0;
		}
	}
	&__link{
		display: block;
		border: 3px solid #b6bfcb;
		height: 110px;
		text-align: center;
		transition: all .2s ease !important;
		&__top{
			position: relative;
			height: 60px;
			display: block;
			padding-top: 12px;
		}
		&__title{
			text-transform: uppercase;
			font:24px $bebas-regular;
			display: inline-block;
			text-align: center;
		}
		&:hover{
			border: 3px solid #ff5146;
			.icon__dwnldnav-hover{
				opacity:1;
			}	
		}
	}
	.icon__dwnldnav, .icon__dwnldnav-hover{
		display: inline-block;
	}
	.icon__dwnldnav{
		position: relative;
	}
	.icon__dwnldnav-hover{
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		transition: opacity .2s ease;
	}
	@for $j from 1 through 4{
		.icon__dwnldnav--#{$j}{
			@include sprite-gen($download-icons,download-icons,dwn-pag-icon-#{$j});
		}
		.icon__dwnldnav-hover--#{$j}{
			@include sprite-gen($download-icons,download-icons,dwn-pag-icon-hover-#{$j});
		}	
	}
}
.about-result{
	margin-top: 25px;
}
.about-banner{
	border:3px solid #ff5146;
	padding:15px 0px 0px 150px;
	height: 200px;
	margin-bottom: 25px;
	background: url(../img/about-com.png) 0% 0% no-repeat;
	&__title{
		font:24px $arimo-regular !important;
		color:#000000;
		text-transform: none !important;
		line-height: 1.4 !important;
		&-red{
			color:#f62214 !important;
			font:30px $arimo-bold !important;
			line-height: 1.1 !important;
		}
	}
}
.img-layout{
	padding-right:15px;
	&__col{
		width:33.33%;
		padding-right: 15px;
		display: block;
		height:230px;
		margin-bottom: 10px;
		float:left;
	}
	&__title{
		display: inline-block;
		margin-top: 5px;
		font: 24px "bebas_neue_regularregular";
		text-transform: uppercase;
		line-height: 1 !important;
	}
}
.img-layout__col, .item-list__link{
	&:hover{
		.img-block__overlay__inside{
			bottom:0;
		}
		.img-block__overlay{
			border:2px solid #e52417;
		}
		.icon__img-block{
			top:50%;
		}
	}
}
.img-block{
	display: inline-block;
	position: relative;
	overflow: hidden;
	&__image{
		display: block;
	}
	&__overlay{
		display: block;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		border:0px solid #e52417;
		transition: border .3s ease;
		&__inside{
			display: block;
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:100%;
			background-color: #f14c41;
			opacity: .80;
			transition: bottom .3s ease;
		}
	}
	.icon__img-block{
		@include sprite-gen($common-sprite,sprite,img-block-icon);
		display: inline-block;
		position: absolute;
		top:200%;
		left:50%;
		margin-top: -20px;
		margin-left: -19px;
		transition: top .3s ease;
	}
}
.item-list__link{
	display: table;
	width: 50%;
	padding-right: 20px;
	margin-bottom: 20px;
	float: left;
	.icon__img-block{
		@include sprite-gen($common-sprite,sprite,img-block-icon-mini);
		margin-top: -12px;
		margin-left: -11px;
	}
}
.item-list{
	&__img, &__title{
		display: table-cell;
		vertical-align: middle;
	}
	&__img{
		width:30%;
	}
	&__title{
		font: 18px $arimo-regular;
	}
}
.cat-slider{
	border:2px solid #fff;
	margin-right: 30px;
	margin-bottom: 30px;
	img,a{
		display: block;
	}
	&__slide{
		position: relative;
	}
	&__slide__title{
		text-transform: uppercase;
		font:48px $bebas-bold;
		position: absolute;
		bottom:40px;
		color:#fff;
		right: 65px;
		text-align: right;
		line-height: 1 !important;
		display: inline;
		padding:3px 6px;
		background: #e73a5a; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #e73a5a 0%, #fe736c 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e73a5a), color-stop(100%,#fe736c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(45deg,  #e73a5a 0%,#fe736c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(45deg,  #e73a5a 0%,#fe736c 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(45deg,  #e73a5a 0%,#fe736c 100%); /* IE10+ */
		background: linear-gradient(45deg,  #e73a5a 0%,#fe736c 100%); /* W3C */	
	}
	&__pages{
		font:20px $bebas-bold;
		color:#797979;
		background: #fff;
		position: absolute;
		right:24px;
		bottom: 80px;
		width: 42px;
		text-align: center;
	}
}
.news-detail{
	img{
		margin-bottom:15px;
		display: block;
	}
	iframe{
		margin:20px 0;
	}
	&__title{
		font: 30px $arimo-bold !important;
		line-height: 1.2 !important;
		text-transform: none;
		color:#3c6392;
		margin: 7px 0;
	}
	&__date{
		font: 11px $arimo-regular;
		color:#ffffff;
		border-radius: 10px;
		background-color: #93a1b0;
		padding: 3px 10px;
	}
	&__bottom{
		border-top: 2px solid #dde2e7;
		margin-top: 20px;
		padding-top:10px;
		&__news-back{
			text-decoration: none;
			font: 24px $bebas-bold;
			text-transform: uppercase;
			color: #ff5146 !important;
			padding: 5px 0px 0px 45px;
			transition: color .2s ease;
			display: inline-block;
			position: relative;
			&:before{
				content:'';
				display: inline-block;
				position: absolute;
				@include sprite-gen($common-sprite,sprite,news-back);
				left:0;
				top:0;
			}
			&:hover{
				color:#3c6392 !important;
			}
		}
	}
}
.news-list{
	&__item{
		display: table;
		width: 100%;
		margin-top: 20px;
		&:hover{
			.news-list__image__overlay{
				bottom:0;
			}
			.icon__news-list{
				top:50%;
			}
		}
		&:first-child{
			margin-top:0;
		}
		&__cell{
			display: table-cell;
			vertical-align: top;
			&--img{
				width:138px;
				img{
					display: block;
				}
			}
			&--text{
				padding-left:15px;
			}
		}
		&__date{
			color:#838994;
			background-color: #eceef1;
			font:11px $arimo-regular;
			padding: 4px 10px;
			border-radius:10px;
		}
		&__title{
			font: 18px $arimo-regular;
			display: block;
			margin-top:10px;
		}
	}
	&__image{
		border: 1px solid #000;
		position: relative;
		display: block;
		overflow: hidden;
		&__overlay{
			display: block;
			position: absolute;
			top:0;
			bottom:200%;
			left:0;
			right:0;
			background-color: #2c3f54;
			opacity: .8;
			transition: bottom .3s ease;
		}
	}
	.icon__news-list{
		position: absolute;
		display: block;
		top:200%;
		left:50%;
		@include sprite-gen($common-sprite,sprite,news-overlay);
		margin-left: -20px;
		margin-top: -20px;
		transition: top .3s ease;
	}
}
.pagination{
	text-align: center;
	border-top: 2px solid #dde2e7;
	margin-top: 35px;
	padding-top:10px;
	&__static{
		font: 12px $arimo-regular;
		color:#bec3ce;
	}
	&__item{
		color:#bec3ce;
		@include sprite-gen($common-sprite,sprite,pagination-bg);
		line-height:36px !important;
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		font:18px $arimo-regular;
		transition: all .3s ease;
		&--active{
			@include sprite-gen($common-sprite,sprite,pagination-bg-active);
			color:#fff;
		}
		&--placeholder{
			background: none !important;
		}
	}
	a.pagination__item{
		&:hover{
			transform: scale(1.15);
		}
	}
	.icon__pag-start, .icon__pag-prev, .icon__pag-next, .icon__pag-end{
		display: inline-block;
		vertical-align: inherit;
	}	
	.icon__pag-start{
		@include sprite-gen($common-sprite,sprite,pagination-two-left);
	}	
	.icon__pag-prev{
		@include sprite-gen($common-sprite,sprite,pagination-one-left);
	}	
	.icon__pag-next{
		@include sprite-gen($common-sprite,sprite,pagination-one-right);
	}	
	.icon__pag-end{
		@include sprite-gen($common-sprite,sprite,pagination-two-right);
	}	
}
.contacts{
	a{
		transition: color .2s linear;
		font: 15px $arimo-regular;
		color:#2579bf;
		display: inline-block;
		text-decoration: none;
		&:hover{
			color:#00aeef;
		}
	}
	&__common-phone{
		margin-left: 40px;
		margin:40px 0px 0px 45px;
		&__legend{
			text-transform: uppercase;
			font: 30px $bebas-regular;
			color:#323232;
			line-height: 1 !important;
			text-align: right;
			display: inline-block;
		}
		&__phone{
			background: url(../img/phone.png) no-repeat;
			overflow: hidden;
			display: inline-block;
			position: relative;
			width: 591px;
			height:86px;
			margin-left: 20px;
			span{
				position: absolute;
				left:-500%;
				display: inline-block;
			}
		}
	}
	&__main{
		margin:40px 0px 30px 0px;
		ul{
			padding-left: 10px;
			li:before{
				content: '\2022';
				background: none !important;
				position: absolute;
				left: -10px;
				top: -2px;
				font-size: 18px;
			}
			li{
				padding-left:0;
				font:14px $arimo-regular;
				position: relative;
				margin-top: 3px;
			}
		}
		&__col{
			width:33.33%;
			padding-left: 15px;
			float:left;
			&:first-child{
				padding-left:0;
			}
			&__header{
				font: 30px $bebas-regular !important;
				color:#2a415d !important;
			}
		}
		&__org{
			border-top: 2px solid #dde2e7;
			padding:5px 0;
			min-height: 200px;
			margin-bottom: 15px;
			&__title{
				font: 16px $arimo-regular;
				color:#000000;
				margin-bottom: 5px;
				display: inline-block;
			}
			&__features{
				color:#474747;
			}
		}
		&__point{
			display: block;
			position: relative;
			padding-left: 30px;
			margin-bottom: 15px;
			&:before{
				content:'';
				position: absolute;
				top:0px;
				left:0;
				display: inline-block;
			}
		}
		&__address{
			font:15px $arimo-regular;
			line-height: 1.2 !important;
			&:before{
				@include sprite-gen($common-sprite,sprite,contacts-place);
			}
		}
		&__phone{
			font:48px $bebas-bold;
			padding-left: 70px !important;
			color:#343434;
			line-height: 1 !important;
			&__code{
				font:24px $bebas-regular;
				color:#91a0ae;
				position: absolute;
				left: 30px;
				top: 2px;
				line-height: 1 !important;
			}
			&:before{
				@include sprite-gen($common-sprite,sprite,contacts-phone);
			}
		}
		&__email{
			&:before{
				@include sprite-gen($common-sprite,sprite,contacts-mail);
				left:1px;
			}
		}
		&__url{
			&:before{
				@include sprite-gen($common-sprite,sprite,contacts-url);
			}
		}
	}
	&__persons{
		border-top: 2px solid #dde2e7;
		padding-top:20px;
		&__item{
			width: 50%;
			float:left;
			padding-right:20px;
			display: table;
			margin-bottom: 30px;
		}
		&__cell{
			display: table-cell;;
			vertical-align: top;
			padding-left: 15px;
			&:first-child{
				width:120px;
				padding-left: 0;
			}
			img{
				display: block;
				border-bottom:2px solid #ff5146;
			}
		}
		&__name{
			font:30px $bebas-bold;
			display: inline-block;
			color:#474747;
			line-height: 1;
		}
		&__occu{
			display: block;
			font:14px $arimo-regular;
			margin:2px 0;
		}
		&__phone{
			line-height: 1.2;
			font: 24px $arimo-bold;
			color:#353535;
		}
		&__contacts{
			display: table;
			font:15px $arimo-regular;
			line-height: 1.2;
			dt{
				display: inline-block;
				width:55px;
				text-align: right;
			}
			dd{
				display: inline-block;
				margin-left: 3px;
			}
		}
	}
}
@import 'include/aside';
@import 'include/footer';
@import 'include/slick';
@import 'include/choco';
@import 'include/ie';