		<footer class="footer">
			<div class="footer__nav">
				<nav>
					<ul class="footer__nav__list">
						<li class="footer__nav__list-item"><a href="#" class="footer__nav__link">о компании</a></li>
						<li class="footer__nav__list-item"><a href="#" class="footer__nav__link">наша продукция</a></li>
						<li class="footer__nav__list-item"><a href="#" class="footer__nav__link">скачать</a></li>
						<li class="footer__nav__list-item"><a href="#" class="footer__nav__link">контакты</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer__middle g-mw g-clear">
				<div class="footer__logo">
					<i class="icon__footer-logo"></i>
					<p class="footer__logo__text">Группа компаний по поставке электроизоляционных материалов и конструкционных пластмасс</p>
				</div>
				<div class="footer__phone-block">
					<div class="footer__block-desc">Бесплатный звонок по России</div>
					<span class="footer__phone-block__number">8 800 500 8 777</span>
					<a class="footer__mail-link" href="mailto:sale@elmica.ru" title="Написать письмо">sale@elmica.ru</a>
				</div>
				<div class="footer__address-block">
					<div class="footer__block-desc">Адрес</div>
					<p class="footer__address-block__post">344065, г. Ростов-на-Дону пер. Днепровкий, 115А</p>
				</div>
				<div class="footer__dev">
					<div class="footer__block-desc">Разработка сайта</div>
					<a href="http://webpractik.ru" target="_blank" title="Открыть в новой вкладке" class="footer__dev__link"></a>
				</div>
			</div>
			<div class="footer__bottom">
				<span class="footer__copyrights">&copy; 2015, ООО &laquo;Фирма Элмика&raquo;</span>
			</div>		
		</footer><!-- .footer -->