			<header class="header">
				<div class="g-mw g-mw--offset g-clear">
					<div class="header__whiteline"></div>
					<a href="#" class="header__logo" title="На главную"></a>
					<nav>
						<ul class="header__nav-list">
							<li class="header__nav-list__item active">
								<a href="#" class="header__nav-list__link js-overlay-trigger">о компании</a>
								<ul class="header__subnav-list">
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">о компании</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">новости</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">доставка</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">подбор материала</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">сертификаты</a></li>
								</ul>
							</li>
							<li class="header__nav-list__item">
								<a href="#" class="header__nav-list__link js-overlay-trigger">наша продукция</a>
								<ul class="header__subnav-list">
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">полимерные заготовки</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">слоистые пластики</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">электроизоляционные материалы</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">жаростойкие материалы</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">полиуретан</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">промышленная химия</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">стекловолокно</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">резинотехнические изделия</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">кабельно проводниковая продукция</a></li>
									<li class="header__subnav-list__item"><a href="#" class="header__subnav-list__link">прочие материалы для производства</a></li>
								</ul>
							</li>
							<li class="header__nav-list__item"><a href="#" class="header__nav-list__link">скачать</a></li>
							<li class="header__nav-list__item"><a href="#" class="header__nav-list__link">контакты</a></li>
						</ul>
					</nav>
					<div class="header__phone">
						<i class="icon__phone"></i>
						<span class="header__phone__free">Бесплатный звонок по России</span>
						<span class="header__phone__number">8 800 500 8 777</span>
					</div>
					<a href="#" title="Поиск по сайту" class="header__trigger header__trigger--search js-overlay-trigger">
						<i class="icon__search"></i>
						<span class="header__trigger__text">Поиск по сайту</span>
					</a>
					<a href="#" title="Карта сайта" class="header__trigger header__trigger--sitemap">
						<i class="icon__sitemap">
							<span class="icon__sitemap__line icon__sitemap__line--first"></span>
							<span class="icon__sitemap__line icon__sitemap__line--second"></span>
							<span class="icon__sitemap__line icon__sitemap__line--third"></span>
						</i>
						<span class="header__trigger__text">Карта сайта</span>
					</a>
				</div>
				<div class="header__overlay" id="header-overlay">
					<div class="g-mw">
						<a href="#" class="header__overlay__close" id="header-overlay-close"></a>
						<div class="header__search">
							<form action="#" class="header__search__form" id="search-form">
								<input type="text" placeholder="Поиск" class="header__search__input">
								<input type="submit" class="header__search__submit" value="Найти">
							</form>
						</div>
					</div>	
				</div>
			</header><!-- .header-->