				<div class="mp-cat">
					<div class="g-mw g-mw--offset">
						<div class="g-clear">
							<div class="mp-cat__col1-4">
								<a href="#" class="mp-cat__link">
									<span class="mp-cat__link__hover"></span>
									<i class="icon__mp-cat-1"></i>
									<i class="icon__mp-cat-1__hover"></i>
									<span class="mp-cat__link__text">Полимерные<br>заготовки</span>
								</a>
							</div>
							<div class="mp-cat__col1-4">
								<a href="#" class="mp-cat__link">
									<span class="mp-cat__link__hover"></span>
									<i class="icon__mp-cat-2"></i>
									<i class="icon__mp-cat-2__hover"></i>
									<span class="mp-cat__link__text">Слоистые<br>пластики</span>
								</a>
							</div>
							<div class="mp-cat__col1-4">
								<a href="#" class="mp-cat__link">
									<span class="mp-cat__link__hover"></span>
									<i class="icon__mp-cat-3"></i>
									<i class="icon__mp-cat-3__hover"></i>
									<span class="mp-cat__link__text">Электроизоляционные<br>материалы</span>
								</a>
							</div>
							<div class="mp-cat__col1-4">
								<p class="mp-cat__over1000">
									<span class="mp-cat__over1000__small">более</span>
									<span class="mp-cat__over1000__large">10 лет</span>
									<span class="mp-cat__over1000__small">на рынке полимеров</span>
								</p>
							</div>
						</div>
						<div class="g-clear">
							<div class="mp-cat__col2-4">
								<div class="mp-cat__we-greatest">
									<span class="mp-cat__we-greatest__text">более</span>
									<img src="img/8000.png" alt="Более 8000 наименований материалов производственно-технического назначения">
								</div>
							</div>
							<div class="mp-cat__col1-4">
								<a href="#" class="mp-cat__link">
									<span class="mp-cat__link__hover"></span>
									<i class="icon__mp-cat-4"></i>
									<i class="icon__mp-cat-4__hover"></i>
									<span class="mp-cat__link__text">Жаростойкие<br>материалы</span>
								</a>
							</div>
							<div class="mp-cat__col1-4">
								<a href="#" class="mp-cat__link">
									<span class="mp-cat__link__hover"></span>
									<i class="icon__mp-cat-5"></i>
									<i class="icon__mp-cat-5__hover"></i>
									<span class="mp-cat__link__text">Полиуретан</span>
								</a>
							</div>
						</div>
						<div class="g-clear">
							<div class="mp-cat__col3-4">
								<div class="mp-cat__we-awesome">
									<div class="mp-cat__we-awesome__top">
										<span class="mp-cat__we-awesome__bold">наименований</span> материалов
									</div>
									<div class="mp-cat__we-awesome__bottom">
										производственно-технического назначения
									</div>
								</div>
							</div>
							<div class="mp-cat__col1-4">
								<a href="#" class="mp-cat__link">
									<span class="mp-cat__link__hover"></span>
									<i class="icon__mp-cat-6"></i>
									<i class="icon__mp-cat-6__hover"></i>
									<span class="mp-cat__link__text">Промышленная<br>химия</span>
								</a>
							</div>
						</div>
						<div class="g-clear">
							<div class="mp-cat__col1-4">
								<a href="#" class="mp-cat__link">
									<span class="mp-cat__link__hover"></span>
									<i class="icon__mp-cat-7"></i>
									<i class="icon__mp-cat-7__hover"></i>
									<span class="mp-cat__link__text">Стекловолокно</span>
								</a>
							</div>
							<div class="mp-cat__col1-4">
								<a href="#" class="mp-cat__link">
									<span class="mp-cat__link__hover"></span>
									<i class="icon__mp-cat-8"></i>
									<i class="icon__mp-cat-8__hover"></i>
									<span class="mp-cat__link__text">Резинотехнические<br>изделия</span>
								</a>
							</div>
							<div class="mp-cat__col1-4">
								<a href="#" class="mp-cat__link">
									<span class="mp-cat__link__hover"></span>
									<i class="icon__mp-cat-9"></i>
									<i class="icon__mp-cat-9__hover"></i>
									<span class="mp-cat__link__text">Кабельно-проводниковая<br>продукция</span>
								</a>
							</div>
							<div class="mp-cat__col1-4">
								<a href="#" class="mp-cat__link">
									<span class="mp-cat__link__hover"></span>
									<i class="icon__mp-cat-10"></i>
									<i class="icon__mp-cat-10__hover"></i>
									<span class="mp-cat__link__text">Прочие материалы<br>для производства</span>
								</a>
							</div>
						</div>
					</div>
				</div>